.app-container{
  background-color: yellow;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-card{
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  min-width: 300px;
  max-width: 300px;
}
.options{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #6066D0;
  margin-bottom: 10px;
}
.opt{
  display: flex;
  gap: 15px;
}
.options:hover{
  background-color: #F9A826;
}

.right-ans{
  background-color: #60BF88 !important;
}

.wrong-ans{
  background-color: #EA8282 !important;
}

.icon{
  color: white;
  border: 1px solid white;
  border-radius: 100%;
}
.flag-img{
  width: 150px;
  height: 70px;
}